services:
  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "8888:8025"  # Web interface
      - "2525:1025"  # SMTP server
    volumes:
      - mailpit_data:/data
    restart: unless-stopped
    networks:
      - app-network
{{- if eq .db "postgres"}}
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "7894:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
{{- end}}
{{- if eq .worker "temporal" }}
  temporal:
    image: temporalio/auto-setup:latest
    depends_on:
      - postgres
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PWD=postgres
      - POSTGRES_SEEDS=postgres
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    ports:
      - "7233:7233"
    restart: unless-stopped
    networks:
      - app-network
  temporal-ui:
    image: temporalio/ui:latest
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:3000
    ports:
      - "8233:8080"
    restart: unless-stopped
    networks:
      - app-network
  temporal-admin-tools:
    image: temporalio/admin-tools:latest
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    networks:
      - app-network
    stdin_open: true
    tty: true
    restart: unless-stopped
{{- end}}
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: root123
      MINIO_ROOT_PASSWORD: root123
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped
    networks:
      - app-network


volumes:
  minio_data:
  mailpit_data:
{{- if eq .db "postgres" }}
  postgres_data:
{{- end }}



networks:
  app-network:
    driver: bridge
