package mailer

import (
  {{ .imports }}
)

type {{ .mailer_pascal }}Mailer struct {
  client client.Client
}

type {{ .mailer_pascal }}MailerParams struct {
  fx.In
  Client client.Client
}

var _ types.{{ .mailer_pascal }}Mailer = (*{{ .mailer_pascal }}Mailer)(nil)

func New{{ .mailer_pascal }}Mailer(p {{ .mailer_pascal }}MailerParams) *{{ .mailer_pascal }}Mailer {
  return &{{ .mailer_pascal }}Mailer{client: p.Client}
}
