func (m *{{ .mailer_pascal }}Mailer) {{ .action_pascal }}(ctx context.Context, vars types.{{ .mailer_pascal }}Mailer{{ .action_pascal }}Params) error {
  return triggerWorkflow(ctx, m.client, vars, vars.To, "{{ .action_pascal }}", "{{ .mailer_snake }}_{{ .action_snake }}")
}
