package workflow

import (
  "context"
  "github.com/alexisvisco/goframe/mail"
  "go.uber.org/fx"

  {{ .imports }}
)

type SendEmailWorkflow struct {
  sender *mail.Sender
}

type SendEmailWorkflowParams struct {
  fx.In
  Sender *mail.Sender
}

func NewSendEmailWorkflow(p SendEmailWorkflowParams) *SendEmailWorkflow {
  return &SendEmailWorkflow{sender: p.Sender}
}

func (w *SendEmailWorkflow) SendEmail(_ workflow.Context, p mail.Message) error {
  return w.sender.Send(context.Background(), p)
}
