production:
  frontend_url: "${FRONTEND_URL:http://localhost:3000}"
  database:
{{- if eq .db "postgres" }}
    type: postgres
    host: "${DATABASE_HOST}"
    port: ${DATABASE_PORT:5432}
    username: "${DATABASE_USERNAME}"
    password: "${DATABASE_PASSWORD}"
    database: "${DATABASE_NAME}"
    ssl_mode: "${DATABASE_SSL_MODE}"
{{- else if eq .db "sqlite" }}
    type: sqlite
    file: "${DATABASE_FILE:{{ .db_filepath }}}"
{{- end }}
  server:
    host: "${SERVER_HOST}"
    port: "${SERVER_PORT:8080}"
    url: "${SERVER_URL}"
  worker:
    type: {{ .worker }}
    temporal_address: "${WORKER_TEMPORAL_ADDRESS}"
    temporal_namespace: "${WORKER_TEMPORAL_NAMESPACE}"
    temporal_task_queue: "${WORKER_TEMPORAL_TASK_QUEUE}"
  mail:
    host: "${MAIL_HOST}"
    port: ${MAIL_PORT:1025}
    username: "${MAIL_USERNAME}"
    password: "${MAIL_PASSWORD}"
    auth_type: "${MAIL_AUTH_TYPE:login}"
    tls_policy: "${MAIL_TLS_POLICY:opportunistic}"
    default_from: "${MAIL_FROM}"
  storage:
    type: s3
    bucket: "${STORAGE_BUCKET}"
    region: "${STORAGE_REGION}"
    access_key_id: "${STORAGE_ACCESS_KEY_ID}"
    secret_access_key: "${STORAGE_SECRET_ACCESS_KEY}"
    endpoint: "${STORAGE_ENDPOINT}"
    secure: ${STORAGE_SECURE:true}
  logging:
    level: "${LOG_LEVEL}"
  i18n: &i18n
    default_locale: "en"
    supported_locales: ["en"]
    fallback_locale: ["en"]
    folder: "config/i18n"
    package: "i18n"


development: &dev
  frontend_url: "${FRONTEND_URL:http://localhost:3000}"
  database:
{{- if eq .db "postgres" }}
    type: postgres
    host: "${DATABASE_HOST:localhost}"
    port: ${DATABASE_PORT:7894}
    username: "${DATABASE_USERNAME:postgres}"
    password: "${DATABASE_PASSWORD:postgres}"
    database: "${DATABASE_NAME:postgres}"
    ssl_mode: "${DATABASE_SSL_MODE:disable}"
{{- else if eq .db "sqlite" }}
    type: sqlite
    file: "${DATABASE_FILE:{{ .db_filepath }}}"
{{- end }}
  server:
    host: "${SERVER_HOST:localhost}"
    port: ${SERVER_PORT:8080}
    url: "${SERVER_URL:http://localhost:8080}"
  worker:
    type: {{ .worker }}
    temporal_address: "${WORKER_TEMPORAL_ADDRESS:localhost:7233}"
    temporal_namespace: "${WORKER_TEMPORAL_NAMESPACE:default}"
    temporal_task_queue: "${WORKER_TEMPORAL_TASK_QUEUE:default}"
  mail:
    host: "${MAIL_HOST:localhost}"
    port: ${MAIL_PORT:2525}
    auth_type: "${MAIL_AUTH_TYPE:none}"
    tls_policy: "${MAIL_TLS_POLICY:none}"
    default_from: "${MAIL_DEFAULT_FROM:no-reply@example.com}"
  storage:
    type: disk
    directory: "${STORAGE_PATH:./tmp_storage}"
  i18n: *i18n
  logging:
    level: debug

test: *dev

current_environment: "${APP_ENVIRONMENT:development}"
