package workflow

import (
  {{ .imports }}
)

type SendEmailWorkflow struct {
  sender *mailer.Sender
}

type SendEmailWorkflowParams struct {
  fx.In
  Sender *mailer.Sender
}

func NewSendEmailWorkflow(p SendEmailWorkflowParams) *SendEmailWorkflow {
  return &SendEmailWorkflow{sender: p.Sender}
}

type SendEmailParams struct {
  To      string
  Subject string
  View     string
  Variables any
}

func (w *SendEmailWorkflow) Execute(ctx workflow.Context, p SendEmailParams) error {
  return w.sender.Send(context.Background(), mailer.Message{To: p.To, Subject: p.Subject, View: p.View, Variables: p.Variables})
}
