package v1handler

import (
  "net/http"
  "go.uber.org/fx"
)

type RouterParams struct {
  fx.In

	Mux *http.ServeMux
  {{if .example }}NoteHandler *NoteHandler{{end}}
}

func Router(p RouterParams) {
  {{- if .example}}
  p.Mux.HandleFunc("POST /v1/example", p.NoteHandler.CreateNote())
  p.Mux.HandleFunc("PATCH /v1/example/{id}", p.NoteHandler.UpdateNote())
  p.Mux.HandleFunc("DELETE /v1/example/{id}", p.NoteHandler.DeleteNote())
  p.Mux.HandleFunc("GET /v1/example", p.NoteHandler.ListNotes())
  {{- end}}
}
