<mjml>
  <mj-body background-color="#F4F4F4">
    <mj-section background-color="#ffffff" padding="20px 0">
      <mj-column>
        <mj-text padding="10px 25px">
          <p>Hi,</p>
          <p>Welcome to COMPANY. Please confirm your <b>email address</b> by clicking on the button below.</p>
        </mj-text>

        <mj-button background-color="#414141" color="#ffffff" padding="10px 25px" href="{{ .Link }}">
          Confirm email
        </mj-button>

        <mj-text padding="10px 25px">
          <p>If the button doesn't work, please copy paste the following link in your browser:</p>
          <p><b>{{ .Link }}</b></p>
        </mj-text>

        <mj-text padding="25px 25px 10px 25px">
          <p>Cheers, The COMPANY Team.</p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
