<mjml>
  <mj-body background-color="#F4F4F4">
    <mj-section background-color="#ffffff" padding="20px 0">
      <mj-column>
        <mj-text padding="10px 25px">
          <p>Hi,</p>
          <p>Use the button below to confirm you want to connect your {{ .Provider }} account.</p>
        </mj-text>

        <mj-button background-color="#414141" color="#ffffff" padding="10px 25px" href="{{ .Link }}">
          Confirm connection
        </mj-button>

        <mj-text padding="10px 25px">
          <p>If the button doesn't work, please copy paste the following link in your browser:</p>
          <p><b>{{ .Link }}</b></p>
        </mj-text>

        <mj-text padding="10px 25px">
          <p>If you did not request this, you can ignore this email.</p>
        </mj-text>

        <mj-text padding="25px 25px 10px 25px">
          <p>Cheers, The COMPANY Team.</p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
