Hi,

Use the following link to set a new password for your account:

{{ .Link }}

If the link doesn't work, please copy and paste it into your browser.

If you did not request this, you can ignore this email.

Cheers, The COMPANY Team.
