package main

import (
  "log/slog"
  "os"
  "go.uber.org/fx"
  {{ .imports }}
)

func main() {
  cfg, err := config.LoadConfig()
  if err != nil {
    slog.Error("failed to load configuration", "error", err)
    os.Exit(1)
  }

	slog.Info("configuration loaded", "environment", cfg.Env)

  options := app.Module(cfg)
  {{- if .invokes }}
  options = append(options, fx.Invoke(
    {{- range .invokes }}
    {{ . }},
    {{- end }}
  ))
  {{- end }}

  fx.New(options...).Run()
}

