package types

import "fmt"

type (
  Note struct {
    ID      string `json:"id"`
    Title   string `json:"title"`
    Content string `json:"content"`
  }

  NoteRepository interface {
    Create(note *Note) error
    GetByID(id string) (*Note, error)
    Update(note *Note) error
    Delete(id string) error
    List() ([]*Note, error)
  }

  NoteService interface {
    Create(note *Note) error
    Update(note *Note) error
    Delete(id string) error
		List() ([]*Note, error)
  }
)

var (
	ErrNoteNotFound = fmt.Errorf("note not found")
)
